@media (max-width: 1250px) {
    #content-logo-menu, .wrapper {
        width: 1000px;
    }

    #conteiner-lastjobs > ul li > .click-area > .box-company {
        width: 45%;
    }

    #conteiner-lastjobs > ul li > .click-area > .locality-company {
        width: 30%;
    }

    #content-sendjobs p {
        width: 550px;
    }

    #conteiner-articles {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    #conteiner-articles > .box-article {
        text-align: center;
    }

    footer div.wrapper:nth-child(1) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    footer div.wrapper:nth-child(1) > div:nth-child(1) {
        flex-basis: 100%;
    }

    footer div.wrapper:nth-child(2) {
        margin: 0;
        width: 100%;
    }
}

@media (max-width: 1050px) {
    #content-logo-menu, .wrapper {
        width: 900px;
    }
}

@media (max-width: 950px) {
    h2 {
        font-size: 36px;
    }

    h4 {
        font-size: 17px;
    }

    p {
        font-size: 15px;
    }

    #content-logo-menu, .wrapper {
        width: 700px;
    }

    #search-banner h1 {
        width: 600px;
        margin: auto;
        font-size: 40px;
    }

    #search-banner form {
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: auto;
    }

    #conteiner-lastjobs > ul li > .click-area > .box-company {
        width: 42%;
        gap: 15px;
    }

    #conteiner-lastjobs > ul li > .click-area > .box-company > img {
        height: 70px;
    }

    #conteiner-lastjobs > ul li > .click-area > .box-company > .info-company h4 {
        font-size: 18px;
    }

    #conteiner-lastjobs > ul li > .click-area > .locality-company {
        width: 33%;
    }

    #conteiner-lastjobs > ul li > .click-area > .jobtype-company span {
        font-size: 13px;
        font-weight: 500;
    }

    #conteiner-statics ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    #conteiner-statics ul li {
        width: 250px;
        height: 80px;
        border: none;
    }

    #conteiner-statics ul li:nth-child(1), #conteiner-statics ul li:nth-child(2) {
        margin-bottom: 70px;
    }

    #conteiner-statics ul li:nth-child(1), #conteiner-statics ul li:nth-child(3) {
        border-right: solid 2px rgb(220, 220, 220);
        padding-left: 0;
    }

    #conteiner-statics ul li:nth-child(4) {
        border: none;
    }

    #conteiner-testmony {
        height: 1200px;
    }

    #content-testmony > ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    #content-testmony > ul li {
        width: 300px;
        text-align: center;
    }

    #content-testmony > ul li p:after {
        bottom: -58px;
        left: -32px;
    }

    #content-testmony > ul li:nth-child(1), #content-testmony > ul li:nth-child(2) {
        margin-bottom: 20px;
    }
}

@media (max-width: 750px) {
    #content-logo-menu, .wrapper {
        width: 650px;
    }

    #main-banner {
        background-position: 50% 0;
    }

    #search-banner p {
        width: 600px;
    }

    #search-banner > form{
        width: 300px;
    }

    #search-banner input, #search-banner select, #search-banner button {
        font-size: 18px;
        padding: 8px 20px;
    }

    #content-testmony > ul li {
        width: 250px;
        text-align: center;
    }
}

.display-none {
    display: none;
}

@media (max-width: 700px) {
    .display-none {
        display: block;
    }

    .menu-display-none {
        display: none;
    }

    #conteiner-logo-menu {
        height: auto;
        display: flex;
        justify-content: center;
    }

    #content-logo-menu {
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
    }

    #logo-conteiner {
        min-height: 100px;
        display: flex;
        align-items: center;
    }

    #logo {
        height: 40px;
        position: relative;
        left: 5vw;
    }
    
    #content-logo-menu > div.display-none {
        position: relative;
        right: 5vw;
    }

    #btn-responsive-menu > i {
        font-size: 23px;
    }

    .conteiner-menu {
        flex-basis: 100%;
        justify-self: flex-start;
        background-color: white;
    }

    #menu {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    #menu > li {
        width: 100vw;
        padding: 10px 0;
        border-top: solid 1px rgb(200, 200, 200);
        text-align: center;
    }

    #menu > li > a {
        font-size: 18px;
    }

    /* PAGE */

    html, body {
        overflow-x: hidden;
    }

    .wrapper {
        width: 550px;
    }

    h2 {
        font-size: 30px;
    }

    #main-banner {
        align-items: flex-end;
        padding-bottom: 50px;
        background-position: 0 0;
    }

    #search-banner {
        width: 85%;
    }

    #search-banner h1, #search-banner p {
        width: 100%;
    }

    #search-banner p {
        margin: 20px 0 30px 0;
    }

    #search-banner h1 {
        font-size: 34px;
    }

    #conteiner-lastjobs > ul {
        width: 90vw;
    }

    #conteiner-lastjobs > ul li > .click-area > .box-company {
        width: 65%;
    }

    #conteiner-lastjobs > ul li > .click-area > .locality-company {
        display: none;
    }

    #conteiner-lastjobs > ul li > .click-area > .jobtype-company {
        width: 35%;
    }

    #content-sendjobs {
        position: relative;
        left: 3vw;
    }

    #content-sendjobs * {
        max-width: 90vw;
    }

    #content-testmony > ul li {
        width: 200px;
        text-align: center;
    }

    footer div.wrapper:nth-child(2) > span  {
        text-align: center;
        max-width: 90vw;
    }
}

@media (max-width: 600px){
    .wrapper {
        max-width: 90vw;
    }
}

@media (max-width: 550px) {
    #content-sendjobs {
        position: relative;
        left: 1.5vw;
    }

    #conteiner-statics ul {
        gap: 20px;
    }

    #conteiner-statics ul li:nth-child(1), #conteiner-statics ul li:nth-child(2) {
        margin-bottom: auto;
    }

    #conteiner-statics ul li:nth-child(1), #conteiner-statics ul li:nth-child(3) {
        border-right: none;
        padding-left: 0;
    }

    #conteiner-testmony {
        height: 2000px;
        background-position: 30% 0;
    }

    #content-testmony > ul {
        gap: 30px;
    }

    #content-testmony > ul li:nth-child(1), #content-testmony > ul li:nth-child(2) {
        margin: 0;
    }

    #conteiner-articles > .box-article {
        width: 90vw;
    }
}
