#conteiner-send-job-form {
    margin-top: 100px;
}

#conteiner-send-job-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#conteiner-send-job-form form div > label {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

#conteiner-send-job-form form > div > :nth-child(2) {
    font-size: 18px;
    box-sizing: border-box;
    max-width: 60vw;
    width: 60vw;
    min-width: 60vw;
    border: solid 1px rgb(200, 200, 200);
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px 15px 10px 15px;
}

#conteiner-send-job-form form > button {
    align-self: flex-end;
    width: 15vw;
    color: white;
    background-color: var(--default-blue-color);
    border-color: var(--default-blue-color);
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

#conteiner-send-job-form form > button:hover {
    color: var(--default-blue-color);
    background-color: white;
}

/* RESPONSIVE */
@media (max-width: 700px) {
    #conteiner-send-job-form form div > :nth-child(2) {
        max-width: 65vw;
        width: 65vw;
        min-width: 65vw;
    }

    #conteiner-send-job-form form > button {
        width: 65vw;
    }
}

@media (max-width: 500px) {
    #conteiner-send-job-form form div > :nth-child(2) {
        max-width: 80vw;
        width: 80vw;
        min-width: 80vw;
    }

    #conteiner-send-job-form form > button {
        width: 80vw;
    }
}
